<%- include('partials/header') %>
  <title>Create Post</title>
</head>
<body class="bg-dark text-white">

  <div class="container py-5">
    <h1 class="mb-4 text-center">Create New Post</h1>

    <form action="/create" method="POST" class="bg-secondary p-4 rounded shadow-sm">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" id="title" name="title" class="form-control bg-dark text-white border-light" required>
      </div>

      <div class="mb-3">
        <label for="content" class="form-label">Content</label>
        <textarea id="content" name="content" rows="6" class="form-control bg-dark text-white border-light" required></textarea>
      </div>

      <button type="submit" class="btn btn-outline-light w-100">Publish</button>
    </form>
    <div class="text-center mt-3">   
    <p><a href="/"><button class="btn btn-dark"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z"/>
      <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708z"/>
      </svg></button></a></p>
    </div> 
  </div>

</body>
</html>
